<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
 <style type="text/css">
    .value {
        font-weight: bold;
    }
</style>
    <body>
        <ui:component>
            <p:dialog
                id="AnexarU"
                header="Anexar Registro"
                widgetVar="AnexarActivo"
                modal="true"
                resizable="false"
                closable="true"
                width="500" >
                <h:panelGroup id="detalleAnexar">
                    <br/><br/>
                    <h:form id="anexar">
                        <h:panelGrid columns="2" >
                            
                            
                            <p:column>
                                <h:outputLabel for="nombre" value="Nombre: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="nombre" value="#{userMB.nombre}" style="width: 350px" required="true" requiredMessage="El campo nombre es requerido"/>
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel for="paterno" value="Paterno " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="paterno" value="#{userMB.paterno}" style="width: 350px" required="true" requiredMessage="El campo nombre es requerido"/>
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel for="materno" value="Materno: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="materno" value="#{userMB.materno}" style="width: 350px" required="true" requiredMessage="El campo nombre es requerido"/>
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel for="login" value="Login:  " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="login" value="#{userMB.login}" style="width: 350px" required="true" requiredMessage="El campo nombre es requerido"/>
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel for="perfil" value="Perfil: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:selectOneMenu id="perfil"  value="#{userMB.perfil}"
                                                filter="true" filterMatchMode="startsWith" caseSensitive="true"
                                                required="true" requiredMessage="Perfil es requerido" style="width: 350px">
                                   <f:selectItems value="#{userMB.perfiles}"
                                   var="registrop"
                                   itemLabel="#{registrop.descripcion}"
                                   itemValue="#{registrop.id}"/>
                                </p:selectOneMenu>
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel for="password1" value="Password1: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:password id="password1" value="#{userMB.password1}" style="width: 350px" required="true" requiredMessage="El campo nombre es requerido"/>
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel for="password2" value="Password2: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:password id="password2" value="#{userMB.password2}" style="width: 350px" required="true" requiredMessage="El campo nombre es requerido"/>
                            </p:column>
                            
                            <p:column>
                                <p:commandButton
                                    value="Cerrar"
                                    type="button"
                                    icon="ui-icon-circle-close"
                                    style="font-size:  100%"
                                    onclick="PF('AnexarActivo').hide();">
                                </p:commandButton>
                            </p:column>
                            <p:column>
                                <p:commandButton
                                    value="Crear"
                                    type="button"
                                    icon="ui-icon-circle-close"
                                    style="font-size:  100%"  
                                    action="#{userMB.AnexarUsuario(1)}"
                                    onclick="PF('AnexarActivo').hide();">
                                </p:commandButton>
                            </p:column>
                        </h:panelGrid>
                    </h:form>
                </h:panelGroup>
            </p:dialog>
        </ui:component>
    </body>
</html>