<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
 <style type="text/css">
    .value {
        font-weight: bold;
    }
</style>
    <body>
        <ui:component>
            <p:dialog
                id="editUser"
                header="Editar Registro"
                widgetVar="EditarActivo"
                modal="true"
                resizable="false"
                closable="true"
                width="600" >
                <h:panelGroup id="detalleEditar">
                    <br/><br/>
                    <h:form id="edit">
                        <h:panelGrid columns="2" >
                            <p:column>
                                <p:inputText value="#{userMB.bean.id}" id="id" type="hidden" />
                            </p:column>
                            <p:column> 
                            </p:column> 
                            
                            <p:column>
                                <h:outputLabel for="id2" value="Id : " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="id2" value="#{userMB.bean.id}" readonly="true" style="width: 350px" required="true" requiredMessage="El campo cajas es requerido"/>
                            </p:column> 
                            
                            <p:column>
                                <h:outputLabel for="nombre" value="Nombre: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="nombre" value="#{userMB.bean.nombre}" style="width: 350px" required="true" requiredMessage="El campo nombre es requerido"/>
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel for="paterno" value="Paterno " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="paterno" value="#{userMB.bean.paterno}" style="width: 350px" required="true" requiredMessage="El campo nombre es requerido"/>
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel for="materno" value="Materno: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="materno" value="#{userMB.bean.materno}" style="width: 350px" required="true" requiredMessage="El campo nombre es requerido"/>
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel for="login" value="Login:  " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText id="login" value="#{userMB.bean.login}" style="width: 350px" required="true" requiredMessage="El campo nombre es requerido"/>
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel for="perfil" value="Perfil: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:selectOneMenu id="perfil"  value="#{userMB.bean.perfil}"
                                                filter="true" filterMatchMode="startsWith" caseSensitive="true"
                                                required="true" requiredMessage="Perfil es requerido" style="width: 350px">
                                   <f:selectItems value="#{userMB.perfiles}"
                                   var="registrop"
                                   itemLabel="#{registrop.descripcion}"
                                   itemValue="#{registrop.id}"/>
                                </p:selectOneMenu>
                            </p:column>
                            <p:column>
                                <h:outputLabel for="activo" value="Activo: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <h:panelGrid columns="1" style="margin-bottom:10px" cellpadding="5">
                                    <p:selectBooleanCheckbox id ="activo" value="#{userMB.bean.estatus}"  />
                                </h:panelGrid>
                            </p:column>
                            <p:column >
                                <div style="text-align: center;">
                                    <p:commandButton 
                                        value="Modificar" 
                                        style="font-size:  100%" 
                                        icon="ui-icon-pencil"
                                        action="#{userMB.editarUsuario(
                                                  userMB.bean.id,
                                                  userMB.bean.nombre,
                                                  userMB.bean.paterno,
                                                  userMB.bean.materno,
                                                  userMB.bean.login,
                                                  userMB.bean.perfil,
                                                  userMB.bean.estatus)}">
                                    </p:commandButton>
                                </div>
                            </p:column>
                            <p:column>
                                <div style="text-align: center;">
                                    <p:commandButton
                                        value="Cerrar"
                                        type="button"
                                        icon="ui-icon-circle-close"
                                        style="font-size:  100%" 
                                        onclick="PF('EditarActivo').hide();">
                                    </p:commandButton>
                                </div>
                            </p:column> 
                        </h:panelGrid> 
                    </h:form>
                </h:panelGroup>
            </p:dialog>
        </ui:component>
    </body>
</html>
