<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                template="BaseTemplateEX.xhtml"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="menuPart">
        <h:form id="menuForm">
            <p:menu style="width:175px">
                <p:submenu label="Acceso" >
                    <p:menuitem value="Iniciar sesión" url="Login.xhtml" />
                </p:submenu>
            </p:menu>
        </h:form>

    </ui:define>


</ui:composition>
