<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                template="BaseTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="menuPart">               
        <h:form id="menuForm">
            <p:growl id="messages" showDetail="true"/>
            <p:slideMenu style="width:180px;height:280px;">
                <p:submenu label="Servicios" icon="ui-icon-extlink" style="width:170px;height:40px;">  
                    <p:menuitem value="Clave instituciones"    url="../../../content/admin/instituciones/Lista.xhtml?faces-redirect=true" />
                    <p:menuitem value="Archivos" url="../../../content/admin/archivos/Lista.xhtml?faces-redirect=true" />
                    <p:menuitem value="Cargar ZIP"       url="../../../content/admin/zip/Lista.xhtml?faces-redirect=true" />                    
                </p:submenu>
                <p:submenu label="Principal"  icon="ui-icon-extlink" style="width:170px;height:40px;" > 
                    <p:menuitem value="Inicio"       url="../../../content/admin/grafica/Lista.xhtml?faces-redirect=true" />                    
                </p:submenu>
                <p:menuitem value="Salir" action="#{sessionMB.salir()}" icon="pi pi-times" />
            </p:slideMenu>
        </h:form>
    </ui:define>
</ui:composition>
