<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<script type="text/javascript">    
    function handleClose(xhr, status, args)
    {
	if (!args.validationFailed) {
		carDialog.hide();
	}
    }
</script>

 <style type="text/css">
    .value {
        font-weight: bold;
    }
</style>
    <body>
        <ui:component>
            <p:dialog
                id="AnexarU"
                header="Anexar Registro"
                widgetVar="AnexarActivo"
                modal="true"
                resizable="false"
                closable="true"
                width="550" >
                <h:panelGroup id="detalleAnexar">
                    <br/><br/>
                    <h:form id="anexar">
                        <p:messages id="msgs" />
                        <h:panelGrid columns="2" >
                            
                            <p:column>
                                <h:outputLabel   value="Desc. Corta : " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText   value="#{bankMB.corta}" style="width: 350px" required="true" requiredMessage="El campo descripción corta es requerido">
                                </p:inputText>
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel value="Descripción :" style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText value="#{bankMB.nombre}" style="width: 350px"  required="true" requiredMessage="El campo descripción es requerido">
                                </p:inputText>
                            </p:column>
                            
                            <p:column>
                                <h:outputLabel value="Clave : " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText value="#{bankMB.clave}" style="width: 350px" required="true" requiredMessage="El campo clave es requerido">
                                </p:inputText>
                            </p:column>
                             
                            <p:column>
                                <p:commandButton 
                                    value="Crear " 
                                    style="font-size:  100%" 
                                    icon="ui-icon-pencil"
                                    action="#{bankMB.AnexarUsuario()}"
                                    process="@form"
                                    update=":activosForm:listado @form" />
                            </p:column>
                            <p:column>
                                <p:commandButton
                                    value="Cerrar"
                                    type="button"
                                    icon="ui-icon-circle-close"
                                    style="font-size:  100%"
                                    onclick="PF('AnexarActivo').hide();">
                                </p:commandButton>
                            </p:column>
                        </h:panelGrid>
                    </h:form>
                </h:panelGroup>
            </p:dialog>
        </ui:component>
    </body>
</html>