<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
    <body>

        <ui:component>

            <p:dialog
                id="editUser"
                header="Informacion de ruta ZIP"
                widgetVar="EditarActivo"
                modal="true"
                resizable="false"
                closable="true"
                width="800" >
                <h:panelGroup id="detalleEditar">
                    <h:form>
                        <h:panelGrid columns="2" > 
                            <p:column>
                                <h:outputLabel value="Nombre ZIP: " style="font-weight: bold"/>
                            </p:column>
                            <p:column>
                                <p:inputText value="#{fileMB.bean.nombre}" style="width:650px"  readonly="true"/>
                                <p:inputText value="#{fileMB.bean.nombre}" type="hidden"/>
                                <p:commandButton id="downloadLink" value="Descargar" ajax="false" actionListener="#{fileMB.prepDownload(fileMB.bean.nombre)}">
                            <p:fileDownload value="#{fileMB.download}" />
                            </p:commandButton>
                            </p:column>
                        </h:panelGrid> 
                        <p:commandButton 
                            value="Actualizar" 
                            style="font-size:  100%" 
                            icon="ui-icon-pencil"
                            update=":detalleEditar"
                            action="#{fileMB.actualiza()}"
                            onclick="PF('EditarActivo').hide();">
                        </p:commandButton> 
                    </h:form>
                </h:panelGroup>
            </p:dialog>
        </ui:component>
    </body>
</html>
