<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/WEB-INF/templates/LoggedTemplate.xhtml">
    <ui:define name="contentPart">
        <h:form id="activosForm">
              <h:outputText 
                  value="Servicios -> Creación de archivos" 
                style="font-weight: bold"/> 
            <p:growl id="growl" showDetail="true" sticky="true"></p:growl>
            <p:dataTable
                id="listado"
                value="#{fileMB.todos}"
                var="registros"
                paginator="true"
                rows="9"
                style="font-size: small"
                emptyMessage="No se encontraron Registros"
                paginatorPosition="bottom">
                <f:facet name="header">
                    Archivos
                    <p:commandButton 
                        id="btnAddEmp" 
                        styleClass="botonpequeno" 
                        value="Nuevo"
                        update=":detalleEditar"
                        title="Nuevo Registro"
                        icon="ui-icon-circle-plus"
                        style="display:inline; float:right; font-size:100%; "
                        onclick="PF('AnexarActivo').show();" />
                </f:facet>
                <p:column
                    sortBy="#{registros.id}"
                    filterMatchMode="contains"
                    width="10%"
                    style="font-size: small"
                    filterBy="#{registros.id}">
                    <f:facet name="header">ID</f:facet>
                    <h:outputText value="#{registros.id}"/>
                </p:column>
                <p:column
                    sortBy="#{registros.nombre}"
                    filterMatchMode="contains"
                    width="25%"
                    style="font-size: small"
                    filterBy="#{registros.nombre}"> 
                    <p:commandLink value="descarga" actionListener="#{registros.nombre}"/>
                </p:column>
                <p:column
                    sortBy="#{registros.fecha_pago_i}"
                    filterMatchMode="contains"
                    width="25%"
                    style="font-size: small"
                    filterBy="#{registros.fecha_pago_i}">
                    <f:facet name="header">FECHA DE PAGO INICIAL</f:facet>
                    <h:outputText value="#{registros.fecha_pago_i}"/>
                </p:column>
                <p:column
                    sortBy="#{registros.fecha_pago_f}"
                    filterMatchMode="contains"
                    width="25%"
                    style="font-size: small"
                    filterBy="#{registros.fecha_pago_f}">
                    <f:facet name="header">FECHA DE PAGO FINAL</f:facet>
                    <h:outputText value="#{registros.fecha_pago_f}"/>
                </p:column>
                <p:column
                    sortBy="#{registros.creado}"
                    filterMatchMode="contains"
                    width="25%"
                    style="font-size: small"
                    filterBy="#{registros.creado}">
                    <f:facet name="header">CREADO</f:facet>
                    <h:outputText value="#{registros.creado}"/>
                </p:column>
                <p:column
                    sortBy="#{registros.fecha_creacion}"
                    filterMatchMode="contains"
                    width="25%"
                    style="font-size: small"
                    filterBy="#{registros.fecha_creacion}">
                    <f:facet name="header">FECHA DE CREACIÓN</f:facet>
                    <h:outputText value="#{registros.fecha_creacion}"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define> 
    <ui:define name="outLayoutPart" > 
        <ui:include src="Anexar.xhtml" />
        <ui:include src="Editar.xhtml" />
    </ui:define>
</ui:composition>
